$blue: hsl(194, 91%, 68%);
$cyan: hsl(172, 70%, 59%);
$green: hsl(72, 59%, 57%);
$lime: hsl(146, 71%, 60%);
$orange: hsl(22, 92%, 74%);
$pink: hsl(309, 92%, 81%);
$purple: hsl(262, 90%, 84%);
$red: hsl(356, 78%, 70%);

$bg-gradient: linear-gradient(#3fdeec, #ffebd2);

$font1: "Bungee Inline", cursive;
$font2: "Press Start 2P", cursive;
